.hello {
    opacity: 1;
    transition: all 0.5s;
}
.hello-entry {
    opacity: 0;
}
.hello-exit-active {
    opacity: 0;
}

.world {
    opacity: 0;
    transition: all 0.5s;
}
.world-entry-active,
.world-entry-done {
    opacity: 1;
}
.world-exit-active {
    opacity: 0;
}
