@import '../../style/mixin';
$button-prefix: $preifx + '-button';

// todo 修改 px 为变量
$button-shadow: 0 10px 20px -10px currentColor;
$button-tap: inset 0 0 0 100px rgba(0, 0, 0, 0.1);
// 颜色
.#{$button-prefix}-primary {
    color: $primary;
    background-image: getColorGradient($primary);
}

.#{$button-prefix}-secondary {
    color: $secondary;
    background-image: getColorGradient($secondary);
}

.#{$button-prefix}-customize {
    color: $customize;
}

.#{$button-prefix} {
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
    background-color: currentColor;
    border: 0 solid;
    border-radius: $button-radius;
    outline: 0 none;
    box-shadow: $button-shadow;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.#{$button-prefix}-inline {
    display: inline-block;
    width: auto;
}

.#{$button-prefix}-s {
    height: $button-s;
    padding: 0 $h-spacing-s;
    font-size: $font-s;
}

.#{$button-prefix}-m {
    height: $button-m;
    padding: 0 $h-spacing-m;
    font-size: $font-m;
}

.#{$button-prefix}-l {
    height: $button-l;
    padding: 0 $h-spacing-l;
    font-size: $font-l;
}

.#{$button-prefix}-rectangle {
    border-radius: 0;
}

// 虚实
.#{$button-prefix}-ghost {
    background-color: $light;
    background-image: none;
    border: solid px(1);
    box-shadow: none;
}

// 反馈效果
.#{$button-prefix}-active {
    box-shadow: $button-tap, $button-shadow;
}

.#{$button-prefix}-ghost.#{$button-prefix}-active {
    // box-shadow: inset 0 0 120px -100px currentColor;
    box-shadow: $button-tap;
}

.#{$button-prefix}:not(.#{$button-prefix}-ghost)::first-line {
    color: $light;
}

// 禁用
.#{$button-prefix}-disabled {
    opacity: 0.45;
}
