{
    "presets": [
        [
            "@babel/preset-env",
            {
                // "modules": false,
                "corejs": 2,
                "useBuiltIns": "usage",
                "targets": {
                    "browsers": ["ie >= 11"]
                }
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": 2,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
