@import '../../style/mixin';
$Cover-prefix: $preifx + '-Cover';

.#{$Cover-prefix} {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $cover;

    &-transparent.#{$Cover-prefix} {
        opacity: 0;
    }
}
