@import '../../style/mixin';
$fixtop-prefix: $preifx + '-fixtop';

.#{$fixtop-prefix} {
    position: sticky;
    top: 0;
    z-index: 2019;
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px 15px;
    font-size: 13px;
    color: #666;
    background-image: linear-gradient(90deg, #fff1e7, #fee7e6);
    border-bottom-right-radius: 25px;
    box-sizing: border-box;
}

.#{$fixtop-prefix}-icon {
    .eui-icon-middle {
        width: 1.5em;
        height: 1.5em;
        margin-right: 10px;
        flex-shrink: 0;
    }
}

.#{$fixtop-prefix}-close {
    .eui-icon-middle {
        width: 1.5em;
        height: 1.5em;
        flex-shrink: 0;
    }
}

.#{$fixtop-prefix}-text {
    display: -webkit-box;
    margin: 0 10px 0 12px;
    overflow: hidden;
    font-size: 28px;
    line-height: 42px;
    color: #e93b3d;
    word-break: break-word;
    -webkit-box-orient: vertical;
    flex: 1;
    -webkit-line-clamp: 3;
}
