@import './common//variables.scss';
@import './common/normalize.scss';
@import './document';
@import './document/preface';
@import './instance';

a {
    text-decoration: none;
}

.hide {
    display: none;
}
