@import '../../style/mixin';
$popup-prefix: $preifx + '-popup';

.#{$popup-prefix} {
    @keyframes popup {
        0% {
            transform: translateY(100%) translateZ(0);
        }

        100% {
            transform: translateY(0) translateZ(0);
        }
    }
    &-body {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 12;
        width: 100%;
        max-height: 50vh;
        min-height: 180px;
        overflow-y: scroll;
        background: #fff;
        animation: popup 0.5s;
    }
}
.no-scroll {
    overflow: hidden;
}
