@import '../../style/mixin';
$whitespace-prefix: $preifx + '-whitespace';

.#{$whitespace-prefix} {
    &-xs {
        height: $v-spacing-xs;
    }
    &-s {
        height: $v-spacing-s;
    }
    &-m {
        height: $v-spacing-m;
    }
    &-l {
        height: $v-spacing-l;
    }
    &-xl {
        height: $v-spacing-xl;
    }
}
