@import '../../style/mixin';
$wingblank-prefix: $preifx + '-wingblank';

.#{$wingblank-prefix} {
    &-s {
        margin-right: $h-spacing-s;
        margin-left: $h-spacing-s;
    }
    &-m {
        margin-right: $h-spacing-m;
        margin-left: $h-spacing-m;
    }
    &-l {
        margin-right: $h-spacing-l;
        margin-left: $h-spacing-l;
    }
}
