.Icon {
    &-value {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &-item {
            width: 33%;
            padding: 10px 0;
            text-align: center;
            box-sizing: border-box;
        }
    }
    &-size {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 20% 20% 20% 20% 20%;
        &-item {
            text-align: center;
        }
    }
    &-fill {
        display: flex;
        justify-content: space-around;
        &-item {
            text-align: center;
        }
    }
}
