@import '../../style/mixin';
$list-prefix: $preifx + '-list';

.#{$list-prefix}-header {
    width: 100%;
    padding: 15px 20px 9px 0;
    font-size: 14px;
    color: #888;
    box-sizing: border-box;
}

.#{$list-prefix}-body {
    border-bottom: 1px solid #ddd;
}

.#{$list-prefix}-body .#{$list-prefix}-item:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.#{$list-prefix}-item {
    display: flex;
    padding: 15px 0;
    align-items: center;
}

.#{$list-prefix}-align-top {
    align-items: flex-start;
}

.#{$list-prefix}-align-middle {
    align-items: center;
}

.#{$list-prefix}-align-bottom {
    align-items: flex-end;
}

.#{$list-prefix}-item-active {
    background-color: #ddd;
}

.#{$list-prefix}-thumb {
    width: 38px;
    height: 38px;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 50%;
    img {
        width: 100%;
        height: 100%;
    }
}

.#{$list-prefix}-content {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: rgba(46, 45, 45, 1);
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}

.#{$list-prefix}-content-wrap {
    white-space: normal;
}

.#{$list-prefix}-extra {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(46, 45, 45, 1);
    text-align: right;
    flex-basis: 36%;
}

.#{$list-prefix}-arrow {
    margin-left: 5px;
}

.#{$list-prefix}-arrow-horizontal {
    transform: rotate(180deg);
}

.#{$list-prefix}-arrow-up {
    transform: rotate(90deg);
}

.#{$list-prefix}-arrow-down {
    transform: rotate(270deg);
}

.#{$list-prefix}-arrow-empty {
    visibility: hidden;
}

.#{$list-prefix}-brief {
    color: #888;
}
