@import '../../style/mixin';
$newcover-prefix: $preifx + '-newcover';

.#{$newcover-prefix} {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $cover;

    &-transparent.#{$newcover-prefix} {
        opacity: 0;
    }
}
