@import 'variables';
@import './mixin';
@import './animate';

*,
*:before,
*:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// body {
// font-family: $font-family;
// font-size: $font-size-base;
// background-color: $fill-body;
// }

*[contenteditable] {
    -webkit-user-select: auto !important;
}

input[readonly] {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*:focus {
    outline: none;
}

a {
    background: transparent;
    outline: none;
    text-decoration: none;
}
