/*
 * 命名规范
 * 最多使用五种尺寸缩写 [ xs, s, m, l, xl ] = [x small, small, middle, large, x large]
 */

$hd: 1px !default;
$preifx: 'edm' !default;
// -------------------------------------------------
$fontFamily: roboto, helvetica neue light, helvetica neue, helvetica, arial, lucida grande, sans-serif !default;

// 主题色
$dark: #2e2d2d !default;
$gray: #e5e5e5 !default;
$light: #ffffff !default;
$primary: hsl(10, 100%, 55%) !default;
$secondary: hsl(43, 100%, 65%) !default;
$customize: hsl(0, 1%, 18%) !default;
$cover: hsla(0, 0%, 0%, 0.3) !default;
// font size
$radius-l: 999px;
$font-l: 16 * $hd !default;
$font-m: 14 * $hd !default;
$font-s: 12 * $hd !default;
$font-xs: 12 * $hd !default;
// 间距
// ---
// 水平间距
$h-spacing-s: 5 * $hd !default;
$h-spacing-m: 8 * $hd !default;
$h-spacing-l: 15 * $hd !default;

// 垂直间距
$v-spacing-xs: 3 * $hd !default;
$v-spacing-s: 6 * $hd !default;
$v-spacing-m: 9 * $hd !default;
$v-spacing-l: 15 * $hd !default;
$v-spacing-xl: 21 * $hd !default;

//Time
$transitionTime: 0.16s !default;

// Button
// ---
@function getGradientDark($color) {
    @return darken(adjust-hue($color, -8deg), 8%);
}
@function getGradientLight($color) {
    @return lighten(adjust-hue($color, 8deg), 8%);
}
@function getColorGradient($color, $direction: right) {
    @return linear-gradient(to $direction, getGradientLight($color), getGradientDark($color));
}
$button-l: 44 * $hd !default;
$button-m: 30 * $hd !default;
$button-s: 25 * $hd !default;
$button-radius: $radius-l !default;

// ICON
// ---
$icon-size-xs: 15 * $hd !default;
$icon-size-s: 18 * $hd !default;
$icon-size-m: 20 * $hd !default;
$icon-size-l: 22 * $hd !default; // 导航条上的图标、grid的图标大小
$icon-size-xl: 36 * $hd !default;

/* prettier-ignore */
@function px($px) {
  @return $px + PX;
}
@mixin border($dir: top, $color: $gray) {
    background-image: linear-gradient(unquote(#{$dir}), $color, #fff);
    background-repeat: no-repeat;
    background-size: auto px(1);
}
