@import '../../style/mixin';
$toast-prefix: $preifx + '-toast';

.#{$toast-prefix} {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    transform: translate(-50%, -50%);
    & > svg {
        width: 40px;
        height: 40px;
    }
}
