@import '../../style/mixin';
$toast-prefix: $preifx + '-toast';

.#{$toast-prefix} {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: $toast-max-width;
    padding: $toast-padding;
    font-size: $toast-font;
    line-height: $toast-line-height;
    color: $light;
    text-align: center;
    background: $toast-background;
    border-radius: $toast-radius;
    transform: translate(-50%, -50%);
}
