@import '../../style/mixin';
$messagebox-prefix: $preifx + '-messagebox';

.#{$messagebox-prefix} {
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: $msgbox-min-width;
    min-width: $msgbox-max-width;
    text-align: center;
    background: $light;
    border-radius: $msgbox-radius;
    transform: translate(-50%, -50%);
    // box-sizing: border-box;
    &-close {
        position: absolute;
        top: $msgbox-px-s;
        right: $msgbox-px-s;
        z-index: 1;
    }
    &-title {
        position: relative;
        margin: $msgbox-margin;
        font-size: $msgbox-font-title;
        font-weight: bold;
        line-height: $msgbox-line-height-title;
    }
    &-content {
        max-height: $msgbox-maxheight;
        margin: $msgbox-margin;
        overflow-x: hidden;
        font-size: $msgbox-font;
        line-height: $msgbox-line-height;
        color: $msgbox-color;
    }
    &-line {
        @include border('to bottom');
        height: px(1);
    }
    &-buttons {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }
    &-buttons-multiline {
        display: block;
        padding: $msgbox-mutiline-padding;
        background-image: none;
    }
    &-buttons-multiline-last {
        color: $msgbox-color;
        background: none;
        border: none;
    }
    &-buttons-multiline-single {
        padding-bottom: $msgbox-mutiline-single-padding-bottom;
    }
}
