@import '../../style/mixin';
$popover-prefix: $preifx + '-popover';
.#{$popover-prefix} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.#{$popover-prefix}-mask {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
}
.#{$popover-prefix}-wrap {
    position: absolute;

    .#{$popover-prefix}-arrow {
        position: absolute;
        left: 20%;
        width: $popover-arrow-size;
        height: $popover-arrow-size;
        background-color: $light;
        transform: rotate(45deg);
    }
    .#{$popover-prefix}-arrow-top {
        bottom: $popover-arrow-offset;
        box-shadow: $popover-size2 0 $popover-size2 -1 * $popover-size2 $dark,
            0 $popover-size2 $popover-size2 -1 * $popover-size2 $dark;
    }
    .#{$popover-prefix}-arrow-bottom {
        top: $popover-arrow-offset;
        box-shadow: -1 * $popover-size2 0 $popover-size2 -1 * $popover-size2 $dark,
            0 -1 * $popover-size2 $popover-size2 -1 * $popover-size2 $dark;
    }
    .#{$popover-prefix}-inner {
        overflow: hidden;
        // font-size: 16px;
        color: $dark;
        background-color: $light;
        border-radius: $popover-size4;
        box-shadow: 0 0 $popover-size4 -1 * $popover-size2 $dark;
    }
    .#{$popover-prefix}-inner-wrapper {
        position: relative;
        background-color: $light;
    }
}
