@import '../../style/mixin';
$badge-prefix: $preifx + '-badge';

$hd: 1px; // 基本单位

$v-spacing-sm: 6 * $hd;
$icon-size-xs: 18 * $hd;
$color-text-base-inverse: #fff;
$border-width-lg: 2 * $hd;
$link-button-font-size: 16 * $hd;
$font-size-caption-sm: 12 * $hd;
$brand-important: #ff5b05; // 用于小红点
$font-size-subhead: 15 * $hd;

.#{$badge-prefix} {
    position: relative;
    display: inline-block;
    line-height: 15px;
    white-space: nowrap;
    vertical-align: middle;
    &-text {
        position: absolute;
        top: -1 * $v-spacing-sm;
        z-index: 10;
        height: $icon-size-xs;
        min-width: $icon-size-xs / 2;
        padding: 0 $h-spacing-m;
        font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
            '\5FAE\8F6F\96C5\9ED1', SimSun, sans-serif;
        font-size: $font-size-caption-sm;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: $icon-size-xs;
        color: $color-text-base-inverse;
        text-align: center;
        text-rendering: optimizeLegibility;
        white-space: nowrap;
        background-color: $brand-important;
        border-radius: 2 * $v-spacing-sm;
        transform: translateX(-45%);
        transform-origin: -10% center;

        a {
            color: $color-text-base-inverse;
        }

        p {
            padding: 0;
            margin: 0;
        }
    }

    &-hot &-text {
        background-color: #f96268;
    }

    &-dot {
        position: absolute;
        top: -2 * $border-width-lg;
        z-index: 10;
        width: 0.5 * $link-button-font-size;
        height: 0.5 * $link-button-font-size;
        background: $brand-important;
        border-radius: 100%;
        transform: translateX(-50%);
        transform-origin: 0 center;

        &-large {
            width: $link-button-font-size;
            height: $link-button-font-size;
        }
    }

    &-not-a-wrapper &-text,
    &-not-a-wrapper &-dot {
        position: relative;
        top: auto;
        display: block;
        transform: translateX(0);
    }

    &-corner {
        position: absolute;
        top: 0.5 * $link-button-font-size;
        right: -2 * $link-button-font-size;
        width: 5 * $link-button-font-size;
        padding: 0.5 * $link-button-font-size;
        font-size: $font-size-subhead;
        color: $color-text-base-inverse;
        text-align: center;
        white-space: nowrap;
        background-color: $brand-important;
        transform: rotate(45deg);

        &-wrapper {
            overflow: hidden;
        }
    }
}
